NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YXNzdXJpbmctcmhpbm8tMTEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_RM2l8RyEmP7tMfq2rJCZbBrEvI4a5qQdj39HcfcQcg
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
